/*Component*/
.Task {
    display: flex;
    justify-content: space-between;
    gap: 1rem;

}

.task-item {
    flex-grow: 1;
    background-color: #CDCED1;
    border: 2px dashed #778D83;
    border-radius: 5px;
    padding: 0.41rem;
}

.task-data {
    display: flex;
    flex-direction: column;
}

.task-data p{
    padding-left: 1rem;
}

.low-priority {

}

.priority {

}

.average-priority {

}

.high-priority {

}

.task-completed {
    text-decoration: line-through;
    opacity: 50%;
}

.task-data-name {
    font-weight: bold;
    color: #7A5958;
}

.task-data-description {
    background-color: #E0CFA0;
    border-radius: 5px;
    padding: 0.41rem;
color: #343B41;
}

