.Header {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.Header-header {
    display: flex;
    align-items: flex-end;
    gap: 1rem;
}

.logo {
    width: 5rem;
    height: auto;
}

.header-nav {
    flex-grow: 1;
border-bottom: 1px solid grey;
}

.nav-ul {
    list-style: none;
    display: flex;
    gap: 1rem;
}
.nav-ul li {

}


