/* Component*/
.TaskList {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 1rem;
    border: 2px solid #7A5958;
    border-radius: 5px;
}

.task-list {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    list-style: none;
}

